@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
html,
body {
  margin: auto;
  font-family: Lato, sans-serif;
  width: 100vw;
  overflow-x: hidden;
  max-width: 3900px;
}
h2 {
  margin: 10px;
}
:root {
  font-size: 100%;
}

.react-calendar {
  padding: 10px;
  width: 40vw;
  border-color: gold !important;
  border-radius: 4px;
  text-underline: none;
}
.react-calendar__navigation{
  background: #ee4f91;
  border-radius: 4px;
}
.react-calendar__navigation__label__labelText{
  color: white;
  font-size: 1.6vw;
  font-family: Lato, sans-serif;
}
.react-calendar__month-view__weekdays__weekday {
  font-size: 1.1vw;
  font-family: Lato, sans-serif;
}

abbr[title] {
  text-decoration: none !important;
}
.react-calendar__tile--active{
  background: #ee4f91 !important;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #ee4f91 !important;

}
.react-calendar__tile:enabled:hover {
  background-color: #f4acd2 !important;
}
.react-calendar__tile--hasActive {
  background: white;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .react-calendar__navigation__label__labelText{
    font-size: 1.2rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .react-calendar {
    width: 350px !important;
  }
  .react-calendar__navigation__label__labelText{
    font-size: 1.4rem;

  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
