@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Playfair+Display:wght@500&family=Source+Sans+Pro:wght@600&display=swap');
@font-face {
  font-family: 'Milton';
  src: url('/public/fonts/Milton.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'Metropolis Medium';
  src: url('/public/fonts/Metropolis-Medium.otf');
  font-style: normal;
}
.hero {
  background-image: url('../public/icebg2.png');
  background-size: cover;
  width: 100%;
  text-align: center;
  overflow: hidden;
  max-height: 100vh;
  margin-top: 60px;
}
.hero h1 {
  margin: 40px 0 0 0;
  color: white;
  font-size: 11rem;
  font-family: 'Milton', sans-serif;
  position: relative;
  letter-spacing: 2px;
}

.imageAndText {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.image {
  filter: saturate(1);
  margin-left: 50px;
}
.text {
  font-family: 'Metropolis Medium', sans-serif;
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 500px;
  margin-top: 40px;
  margin-right: 50px;
  font-size: 1.4rem;
  color: white;

}
.text h2 {
  margin: 0px;
  font-family: 'Milton', sans-serif;
  color: white;
  background-color: #ee4f91;
  padding: 5px 15px 0px 15px;
  max-width: 120px;
  text-align: center;
  font-size: 36px;
  border: none;
}
.text p {
  margin-top: 20px;
  line-height: 2rem;
}
.text button {
  font-family: 'Milton', sans-serif;
  margin-right: auto;
  color: #ee4f91;
  border: none;
  padding: 5px 15px 0px 15px;
  max-width: 190px;
  background-color: white;
  font-size: 36px;
  text-align: center;
}
.downArrow {
  position: absolute;
}
