@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Playfair+Display:wght@500&family=Source+Sans+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@500&display=swap');

.information {
  display: flex;

  border-top: 1vw solid white;
  border-image: repeating-linear-gradient(
      45deg,
      #ee4f91,
      #ee4f91 1%,
      white 1%,
      white 8%
    )
    10;
  flex-direction: row;
  height: 60vh;
  max-height: 1000px;
  background-color: #ee4f91;
}

.iceCreamImage {
  flex: 1;
  max-width: 50%;
  background-image: url('../public/icebg.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
}
.infoTextContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.8vw;
  max-width: 50%;
}
.infoText {
  margin: 10px;
  max-width: 80%;
  flex: 1;
  font-family: 'Metropolis Medium', sans-serif;
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.magazine {
  font-family: Domine, sans-serif;
  color: white;
  text-transform: uppercase;
  margin-top: 15px;
  font-size: 1.8vw;
}
.thanks{
  font-family: 'Metropolis Medium', sans-serif;
  color: white;
  text-transform: uppercase;
  font-size: 1.8vw;
}
.highlight{
  background-color: white;
  color: #ee4f91;
  margin-top: 15px;
}