@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Playfair+Display:wght@500&family=Source+Sans+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@500&display=swap');

.panelsContainer {
  display: flex;

  border-top: 1vw solid white;
  border-image: repeating-linear-gradient(
      45deg,
      #ee4f91,
      #ee4f91 1%,
      white 1%,
      white 8%
    )
    10;
  flex-direction: row;
  height: 60vh;
  max-height: 1000px;
  background:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIj48ZGVmcz48cGF0dGVybiBpZD0icGF0dGVybiIgd2lkdGg9IjUxIiBoZWlnaHQ9IjUxIiB2aWV3Qm94PSIwIDAgNDAsNDAiIHBhdHRlcm5Vbml0cz0idXNlclNwYWNlT25Vc2UiIHBhdHRlcm5UcmFuc2Zvcm09InJvdGF0ZSg1MikgIj48cmVjdCBpZD0icGF0dGVybi1iYWNrZ3JvdW5kIiB3aWR0aD0iNDAwJSIgaGVpZ2h0PSI0MDAlIiBmaWxsPSJyZ2JhKDIzOCwgNzksIDE0NSwxKSI+PC9yZWN0PiA8cGF0aCBmaWxsPSJyZ2JhKDI0NiwgMTM1LCAxNzksMSkiIGQ9Ik0tMC41IDIwIGgxIHYxIGgtMSB6TTM5LjUgMjAgaDEgdjEgaC0xIHoiPjwvcGF0aD48cGF0aCBmaWxsPSJyZ2JhKDI0NywgMjUwLCAyNTIsMSkiIGQ9Ik0xOS43NSAyMCBoMC41IHYxIGgtMC41IHpNNTkuNzUgMjAgaDAuNSB2MSBoLTAuNSB6Ij48L3BhdGg+PC9wYXR0ZXJuPiAgPC9kZWZzPiA8cmVjdCBmaWxsPSJ1cmwoI3BhdHRlcm4pIiBoZWlnaHQ9IjEwMCUiIHdpZHRoPSIxMDAlIj48L3JlY3Q+PC9zdmc+");
  background-attachment: fixed;
}

.panelImage {
  flex: 1;
  max-width: 50%;
  background-image: url('../public/pinkice.jpeg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
}
.panelTextContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.8vw;
  max-width: 50%;
}
.panelText {
  margin: 10px;
  max-width: 80%;
  flex: 1;
  font-family: 'Metropolis Medium', sans-serif;
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.magazine {
  font-family: Domine, sans-serif;
  color: white;
  text-transform: uppercase;
  margin-top: 15px;
  font-size: 1.8vw;
}
.thanks{
  font-family: 'Milton', sans-serif;
  color: white;
  text-transform: uppercase;
  font-size: 1.8vw;

}
.highlight{
  background-color: white;
  color: #ee4f91;
  margin-top: 15px;
}
.whiteColor {
  color: white;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .panelsContainer {
    display: flex;
    flex-direction: column;
    border-top: 2vw solid white;
    width: 100%;
    height: 150vh;
  }
  .panelImage{
    max-width: 100%;
  }
  .panelTextContainer{
    max-width: 100%;
    height: 60vh;
  }
  .thanks{
    font-size: 3.5rem;
  }
  .highlight{
    font-size: 2rem;
    margin-top: 0;
  }
  .thanks{
    max-height: 30%;
  }
  .magazine{
    font-size: 2rem;

  }
  .magazine h3{

    margin-top: 0px;
  }

}

/* Small devices (portrait tablets and large phones, 800px and down) */
@media only screen and (max-width: 800px) {
.thanks{
  font-size: 3rem;
}
  .highlight{
    font-size: 2rem;
  }
  .magazine h3{
    font-size: 3rem;
    margin-top: 0;
  }
  .panelText{
    max-width: 100%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .thanks{

  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}