.welcomeMenu {
  background-color: white;
  display: flex;
  height: 4vw;
  justify-content: center;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
}
.storeName {
  font-family: 'Milton', sans-serif;
  color: #ee4f91;
  text-transform: uppercase;
  width: 100%;
  cursor: default;
  justify-content: flex-start;
  margin-left: 20px;
  font-size: 3.5rem;
}
.logoContainer {
  position: absolute;
  z-index: 100;
}
.logo {
  cursor: pointer;
  display: flex;
  justify-content: center;
  background: #ee4f91;
  height: 4vw;
  width: 4vw;
  border: 0.7vw solid white;
  border-radius: 50%;
}
.menu {
  max-width: 100%;
}
.navigation {
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-around;
  max-width: 100vw;
}
.navigationItem {
  display: flex;
  align-items: center;
  height: 100%;
}
.navigationItem a {
  color: black;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.7vw;
  text-decoration: underline #ee4f91;
  margin: 0 30px;
}

.navigationLinksA {
  display: inline-flex;
  align-items: center;
  height: 100%;
  flex-direction: row;
  justify-content: flex-end;
}
.menuSectionA {
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 68px;
}
.menuSectionB {
  width: 50vw;
  height: 100%;
  display: flex;
  padding-left: 108px;
  flex-direction: row;
  justify-content: flex-start;
}
.menuTitle {
  color: #0971ce;
  font-weight: 700;
  font-size: 1.2vw;
  height: 100%;
  border-bottom: 1px solid #7a8d99;
  padding-bottom: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.socialMediaIcons {
  display: flex;
  margin-left: auto;
  align-items: center;
  height: 100%;
  justify-content: flex-end;
  margin-right: 20px;
}
.socialIcons {
  margin-right: 10px;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .welcomeMenu {
    height: 13vw;
  }
  .storeName {
    display: none;
  }
  .socialMediaIcons {
    display: none;
  }
  .logoContainer {
    top: 5px;
  }
  .logo {
    height: 12vw;
    width: 12vw;
    border: 2vw solid white;
  }
  .navigationItem {
  }
  .navigationItem a {
    font-size: 0.9rem;
    margin: 0 10px 0px 10px;
  }
  .menuSectionA {
    width: 50vw;
    margin-right: 0;
    justify-content: center;
    padding-right: 10px;
  }
  .navigationLinksA {
    justify-content: center;
  }
  .menuSectionB {
    width: 50vw;
    height: 100%;
    display: flex;
    padding-left: 10px;
    justify-content: center;
  }
}

@media only screen and (max-width: 350px) {
  .navigationItem a{
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 1336px) {
  .storeName{
    display: none;
  }
  .menuSectionA{
    margin-right: 0;

}

}
/* Small devices (portrait tablets and large phones, 800px and down) */
@media only screen and (min-width: 760px) {
  .welcomeMenu {
    height: 8vw;

  }
 

  .logo {
    height: 7vw;
    width: 7vw;
    border: 1.5vw solid white;
  }
  .menuSectionB {
    padding-left: 0px;
  }
  .navigationItem a {
    font-size: 1.3rem;
    margin: 0 10px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .welcomeMenu {
    background-color: white;
    display: flex;
    height: 4vw;
    justify-content: center;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
  }
  .storeName {
    font-family: 'Milton', sans-serif;
    color: #ee4f91;
    text-transform: uppercase;
    width: 100%;
    cursor: default;
    justify-content: flex-start;
    margin-left: 20px;
    font-size: 3.5rem;
  }
  .logoContainer {
    position: absolute;
    z-index: 100;
  }
  .logo {
    cursor: pointer;
    display: flex;
    justify-content: center;
    background: #ee4f91;
    height: 4vw;
    width: 4vw;
    border: 0.7vw solid white;
    border-radius: 50%;
  }
  .menu {
    max-width: 100%;
  }
  .navigation {
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-around;
    max-width: 100vw;
  }
  .navigationItem {
    display: flex;
    align-items: center;
    height: 100%;
  }
  .navigationItem a {
    color: black;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.7vw;
    text-decoration: underline #ee4f91;
    margin: 0 30px;
  }

  .navigationLinksA {
    display: inline-flex;
    align-items: center;
    height: 100%;
    flex-direction: row;
    justify-content: flex-end;
  }
  .menuSectionA {
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 68px;
  }
  .menuSectionB {
    width: 50vw;
    height: 100%;
    display: flex;
    padding-left: 108px;
    flex-direction: row;
    justify-content: flex-start;
  }
  .menuTitle {
    color: #0971ce;
    font-weight: 700;
    font-size: 1.2vw;
    height: 100%;
    border-bottom: 1px solid #7a8d99;
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  .socialMediaIcons {
    display: flex;
    margin-left: auto;
    align-items: center;
    height: 100%;
    justify-content: flex-end;
    margin-right: 20px;
  }
  .socialIcons {
    margin-right: 10px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
